body {
    background-color: #e2eff1;
}
h1, h2, h3, h4, h5, h6{color:#65799b;
    text-align:center;
    font-family:"Helvetica", sans-serif;
}
h1 {
    font-size: 65px;
}
h2{
    font-size:35px;
}
h3{
    font-size:30px;
}
h4{
    font-size:25px;
    background-color: #555273;
    color: #e2eff1;
    padding:60px;
}
h5{
    font-size:22px;
    margin-top:75px;
}
h6{
    font-size:18px;
    margin-top:15px;
}
.quote{
    text-align:center;
    font-family: "Helvetica", sans-serif;
    font-size:18px;
    font-style:italic;
    padding-bottom:1rem;
    margin-bottom: 1rem;
    color:#65799b;

}
.besartelezi img {
    max-width: 25%;
    max-height: 25%;
    text-align: center;
}
p{
    text-align:center;
    font-family: "Helvetica", sans-serif;
    font-size:18px;
    margin-bottom: 75px;
}
div{
    text-align:center;
}
table {
    border: 1px solid white;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;

}
th {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #b6d5e1;
    width: 180px;
    height: 35px;
    color:white;
    font-family:"helvetica", sans-serif;
}
td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #f5feff;
    width: 180px;
    height: 45px;
    text-align: center;
    font-family:"helvetica", sans-serif;
    color:#65799b;
    font-style: oblique;
}
ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}
li{font-size:18px;
    color: #65799b;
    font-family: "helvetica", sans-serif;
    padding-bottom: 10px;
}

.previous {
    background-color: #65799b;
    font-family:"Helvetica", sans-serif;
    color: white;
    padding: 25px 50px;
    text-decoration: none;
    border-radius:8px;
    margin: 25px;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.next {
    background-color: #65799b;
    font-family:"Helvetica", sans-serif;
    color: white;
    padding: 25px 65px;
    text-decoration: none;
    border-radius:8px;
    margin: 25px;
    display: inline-block;
    transition: all .2s ease-in-out;
}
.next:hover{
    background-color:#555273;
    transform: scale(1.1);

}
.previous:hover{
    background-color:#555273;
    transform: scale(1.1);
}
.name{
    display: inline-block;
    font-family:Helvetica, sans-serif;
    font-weight: bold;
    color: #65799b;
    margin:auto;
    width:71%;
    font-size:25px;
}
.mouse img{
    max-width:3%;
    height:3%;
    position: fixed;
    top: 65%;
    left: 85%;
    margin-top: -250px;
    margin-left: -250px;
}
.name {
    transition: all .2s ease-in-out;
}
.name:hover {
    transform: scale(1.1);
}


/* Animation testing room */
.besartelezi img {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
